.App {
  text-align: center;
}

.App-logo {
  height: 1.5em;
  float: bottom;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.Tweet {
  width: max-content;
  text-align: left;
  margin: 3em;
  border: .25em solid black;
  padding: .5em;
}
.inline {
  display: inline;
}
.inline--item {
  display: inline;
  color: blue;
  margin: 2em;
}

.nameSection {
  margin: .5em;
  font-size: 1.5em;
}
.name {
  font-weight: 300;
  margin: 0 .5em .5em 0;
}
.handle {
  font-weight: 150;
}

.tweetText {
  white-space: pre;
}
.commentText {
  color: black;
  width: 100%;
}
.commentText--user {
  font-style: bold;
}
.commentText--text {
  font-style: normal;
}